.boardSquare {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: 1px solid black;
}

.notSelected {
  display: none;
}

.selected {
  display: block;
  font-size: 3em;
  font-weight: bold;
}
